@CHARSET "UTF-8";
/*
#mainView ul.n {
	background: url('../images/n.jpg') 25px 0 repeat-y;
}
#mainView ul.s {
	background: url('../images/s.jpg') 27px 0 repeat-y;
}
#mainView ul.t {
	background: url('../images/t.jpg') 27px 0 repeat-y;
}
#mainView ul.m {
	background: url('../images/m.jpg') 29px 0 repeat-y;
}
*/
#mainView #detailView {
	list-style: none;
	padding: 2px 0 0 0;
	margin: 0;
	display: none;
}
#mainView #detailView li {
	margin: 0 2px;
	height: 60px;
	cursor: default;
	border-bottom: 1px solid #EAEAEA;
	transition-property: background,color,border;
	transition-duration: 0.4s;
}
.mobile #mainView #detailView li {
	height: 78px;
}
#mainView #detailView li.selected {
	border-bottom: 1px solid #ABABAB;
	transition-property: background,color,border;
	transition-duration: 0.4s;
}
#mainView #detailView li a {
	text-decoration: none;
	cursor: pointer; /* IE */
}
.mobile #mainView #detailView li a {
	display: inline-block;
	width: 365px;
	height: 75px;
}
#mainView #detailView li a:hover {
	color: black;
}
#mainView #detailView li.empty {
	height: 26px;
}

#mainView #detailView span {
	display: block;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 58px;
	line-height: 58px;
	padding: 0 0 0 5px;
}
.mobile #mainView #detailView span {
	display: inline-block;
	float: none;
	height: 75px;
	line-height: 75px;
}
#mainView #detailView span.check {
	width: 17px;
}
.mobile #mainView #detailView span.check {
	width: 32px;
}
#mainView #detailView span.check input.inputCheck {
	margin-top: 22px;
}
.mobile #mainView #detailView span.check input.inputCheck {
	margin-top: 26px;
	width: 22px;
	height: 22px;
}
#mainView #detailView span.icon {
	width: 44px;
}
#mainView #detailView span.icon img {
	margin-top: 10px;
	margin-left: 2px;
}
.mobile #mainView #detailView span.icon img {
	margin-top: 19px;
}
#mainView #detailView span.name {
	width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: "…";
}
.mobile #mainView #detailView span.name {
	width: 300px;
	font-size: 30px;
}
#mainView #detailView span.size {
	width: 125px;
}
.mobile #mainView #detailView span.size {
	width: 90px;
}
#mainView #detailView span.type {
	width: 120px;
}
#mainView #detailView span.mtime {
	width: 150px;
}