@CHARSET "UTF-8";

#phpfmDocNav,#phpfmDoc {
    margin: 15px;
}

#phpfmDocNav,#phpfmDoc {
    font-size: 14px;
}

#phpfmDocNav,#phpfmDocNav a {
    color: #666666;
}

#phpfmDocNav a.selected {
    color: black;
    text-decoration: none;
}

#phpfmDocNav a:hover {
    color: black;
}

#phpfmDoc {
    line-height: 1.5em;
}

#phpfmDoc a:link,#phpfmDoc a:hover,#phpfmDoc a:visited {
    color: #0099FF;
    text-decoration: none;
}

#phpfmDoc a:hover {
    text-decoration: underline;
}

#phpfmDoc img {
    border: 0;
    margin: 0 10px;
    box-shadow: 2px 2px 2px #666666;
}

#phpfmDoc img.helpLeftImg,#phpfmDoc img.helpRightImg {
    margin: 10px;
}

#phpfmDoc img.helpLeftImg {
    float: left;
}

#phpfmDoc img.helpRightImg {
    float: right;
}

#phpfmDoc h4 {
    padding: 5px 0;
}

#phpfmDoc p {
    text-indent: 2em;
}

#phpfmDoc .bottomSplit {
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    margin-bottom: 10px;
}