@CHARSET "UTF-8";

/* Func Cut, Copy, Paste and Rename sector */
#funcBg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	background-color: Black;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE */
	filter: alpha(opacity = 50);
}

.inputRequire {
	color: red;
	font-size: 12px;
	font-weight: bold;
}
.mobile .inputRequire {
	font-size: 18px;
}

div.divHeader {
	color: #3399CC;
	height: 18px;
	line-height: 18px;
	padding: 7px 10px;
	border-bottom: 1px solid #3399CC;
}
.mobile div.divHeader {
	height: 48px;
	line-height: 48px;
}

div.divHeader span {
	float: left;
	width: 150px;
}
.mobile div.divHeader span {
	width: 300px;
}

div.divHeader a.funcClose {
	float: right;
	color: white;
}
.mobile div.divHeader a.funcClose {
	display: none;
}

#funcDialog {
	display: none;
	background-color: white;
	z-index: 1005;
	position: fixed;
	top: 150px;
	width: 420px;
	border: 1px solid #EAEAEA;
	box-shadow: 0 4px 30px #000000;
}
.mobile #funcDialog {
	top: 42px;
	width: 100%;
	height: 100%;
	font-size: 30px;
	box-shadow: none;
}

#funcDialog .container {
	padding: 6px 10px;
}
#funcDialog #divInput form tr {
	height: 32px;
	line-height: 32px;
}
.mobile #funcDialog #divInput form tr {
	height: 52px;
	line-height: 52px;
}
#funcDialog #divDelete div,#funcDialog #divPreview div,#funcDialog #divWaiting div {
	height: 32px;
	line-height: 32px;
}
.mobile #funcDialog #divDelete div,.mobile #funcDialog #divPreview div,.mobile #funcDialog #divWaiting div {
	height: 48px;
	line-height: 48px;
	font-size: 24px;
}

#funcDialog #link,#funcDialog #link a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#funcDialog #link a {
	color: #3399CC;
	text-decoration: none;
}
#funcDialog #link a:hover {
	text-decoration: underline;
}
.mobile #funcDialog #link a {
	text-decoration: underline;
}

#funcDialog input[type="text"], #funcDialog input[type="password"], #funcDialog select {
	margin: 3px 0;
	height: 28px;
	font-size: 20px;
	width: 300px;
}
.mobile #funcDialog input[type="text"],.mobile #funcDialog input[type="password"],.mobile #funcDialog select {
	margin: 6px 0;
	height: 32px;
	font-size: 24px;
}
#funcDialog input[type="submit"], #funcDialog input[type="button"], #funcDialog button {
	margin-right: 10px;
}
.mobile #funcDialog input[type="submit"],.mobile #funcDialog input[type="button"],.mobile #funcDialog button {
	font-size: 24px;
	height: 48px;
	line-height: 48px;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 20px;
}

/* Rename sector */
#divReqInput #oldnameLine {
	display: none;
}

/* Delete sector */

/* Preivew sector */
#funcDialog #divPreview div {
	height: 42px;
	line-height: 42px;
}
.mobile #funcDialog #divPreview #divPreviewContent.previewAudio {
	height: 64px;
	line-height: 64px;
}
#funcDialog #divPreview #divPreviewContent.previewImage {
	height: auto;
}
#funcDialog #divPreview #divPreviewContent.previewImage img {
	cursor: pointer;
}

#funcDialog #uploadFileInfo.dropUpload {
	text-align: center;
	height: 80px;
	line-height: 80px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 1px solid #ccc;
}

#funcDialog #uploadFileInfo.dropFile {
	border-color: red !important;
}

#funcDialog .funcBtnLine {
	margin-top: 8px;
}

/* Watingsector */
div.wating {
	margin: 10px 0;
}
