@CHARSET "UTF-8";

/* Message Sector */
#phpfmMessage {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	max-height: 300px;
	overflow: auto;
	background-color: #CCFF99;
	border-top: 1px #339900 solid;
	font-size: small;
	text-align: center;
	color: #339900;
	
	opacity: 0.9; /* 透明 firefox */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	/* IE */
	filter: alpha(opacity = 90);
}

#phpfmMessage.wrong {
	border-color: red;
	background-color: #ffddd5;
	color: red;
}