@CHARSET "UTF-8";

#phpfmHelpNav, #phpfmHelp
{
	margin: 10px 0;
	font-size: small;
}
#phpfmHelpNav, #phpfmHelpNav a
{
	color: #666666;
}
#phpfmHelpNav a:hover
{
	color: black;
}
#phpfmHelp
{
	line-height: 1.5em;
}
#phpfmHelp h4
{
}
#phpfmHelp p
{
	text-indent: 2em;
	
}
