*
{
	margin: 0px;
	padding: 0px;
}
body
{
	background: url('../images/body-mozilla.jpg') top center no-repeat; 
	width: 900px;
	margin-left: auto; /* 使网页居中 */
	margin-right: auto; /* 使网页居中 */
}
.clear
{
	clear: both;
}
#header h1
{
	font-size: xx-large;
	font-family: "Times New Roman" , Times, serif;
	color: white;
}
#header
{
	padding: 10px;
	height: 40px;
}
#nav
{
	position: relative;
}
#nav ul
{
	list-style-type: none;
	list-style-image: none;
	margin-left: 200px;
	background-color: black;
}
#nav, #nav ul li a, #nav a#phpfmNavHome
{
	font-family: 微软雅黑;
	color: White;
	text-decoration: none;
}
#nav ul li a
{
	display: block;
	padding: 0 1em;
}
#nav ul, #nav ul li
{
	
}
#nav ul li
{
	float: left;
	font-size: 16px;
	text-align: center;
	display: block;
}
#nav ul, #nav ul .li-item
{
	height: 25px;
	line-height: 25px;
	border-right: 1px dotted #666666;
}
#nav ul .li-item a
{
	background-color: Black;
}
#nav ul .li-item a:hover, #nav ul .current a
{
	background: url('../images/nav-hover-bg.jpg') left center repeat-x;
}
#nav ul .li-current a:hover
{
	
}
#nav a#phpfmNavHome
{
	display: block;
	height: 35px;
	line-height: 35px;
	width: 200px;
	text-align: center;
	background: transparent url('../images/nav-home-bg.gif') left center repeat-x;
	position: absolute;
	top: -10px;

}
#nav a#phpfmNavHome.current
{
	background: transparent url('../images/nav-home-current-bg.gif') left center repeat-x;
}
#nav a#phpfmNavHome:hover
{
	background: transparent url('../images/nav-home-current-bg.gif') left center repeat-x;
}
#content
{
	font-family: 宋体, "Times New Roman";
	padding: 10px;
	background-color: white;
}
/*
a:active, a:link, a:visited
{
	font-family: 宋体, Arial, Helvetica, sans-serif;
	color: Black;
}
a:hover
{
	font-family: 宋体, Arial, Helvetica, sans-serif;
	color: White;
}
*/
#footer
{
	margin-bottom: 10px;
	background-color: White;
	font-family: Arial;
	font-size: x-small;
	color: #666666;
	padding: 0 10px 10px 10px;
}
#footer #copyright
{
	text-align: right;
}
.select
{
	font-size: large;
}


