* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #F5F6F7 url('../images/body_new_apple.jpg') top center repeat-x scroll;
	/*width: 900px;*/
	min-width: 900px;
	padding-left: 40px;
	padding-right: 40px;
}

.hidden {
	display: none;
}
.clear {
	clear: both;
}
.center {
	text-align: center;
}
.rightAlign {
	text-align: right;
}

a {
	color: #666666;
	
	-moz-transition-property: background,color,border;
	-moz-transition-duration: 0.4s;
	-webkit-transition-property: background,color,border;
	-webkit-transition-duration: 0.4s;
	-o-transition-property: background,color,border;
	-o-transition-duration: 0.4s;
	-ms-transition-property: background,color,border;
	-ms-transition-duration: 0.4s;
}
a:hover {
	color: black;
	
	-moz-transition-property: background,color,border;
	-moz-transition-duration: 0.4s;
	-webkit-transition-property: background,color,border;
	-webkit-transition-duration: 0.4s;
	-o-transition-property: background,color,border;
	-o-transition-duration: 0.4s;
	-ms-transition-property: background,color,border;
	-ms-transition-duration: 0.4s;
}

input[type="submit"], input[type="button"], button {
	height: 24px;
	line-height: 20px;
	background-color: white;
	padding: 0 6px 2px 6px;
	border: 1px solid #aaaaaa;
	box-shadow: 1px 1px 2px #dddddd;
	
	-moz-transition-property: border-color;
	-moz-transition-duration: 0.4s;
	-webkit-transition-property: border-color;
	-webkit-transition-duration: 0.4s;
	-o-transition-property: border-color;
	-o-transition-duration: 0.4s;
	-ms-transition-property: border-color;
	-ms-transition-duration: 0.4s;
}
input[type="submit"]:hover, input[type="button"]:hover, button:hover {
	border-color: black;
	
	-moz-transition-property: border-color;
	-moz-transition-duration: 0.4s;
	-webkit-transition-property: border-color;
	-webkit-transition-duration: 0.4s;
	-o-transition-property: border-color;
	-o-transition-duration: 0.4s;
	-ms-transition-property: border-color;
	-ms-transition-duration: 0.4s;
}
input[type="submit"]:active, input[type="button"]:active, button:active {
	border-color: black;
	box-shadow: 1px 1px 1px #dddddd inset;
}

#header h1 {
	font-size: xx-large;
	font-family: "Times New Roman", Times, serif;
	color: white;
}
#header {
	padding: 10px;
	height: 80px;
	font-family: 微软雅黑, "segoe ui", verdana, arial, sans-serif;
}
#header #mainTitle {
	float: left;
	margin-top: 20px;
	font-size: xx-large;
	font-style: italic;
	font-weight: bold;
	color: #223355;
	text-shadow: 2px 2px 2px #aaaaaa;
}
#header #subTitle {
	float: left;
	margin-top: 42px;
	margin-left: 20px;
	font-size: small;
	color: #003595
}
#header #loginStatus {
	float: right;
	margin-top: 42px;
	font-size: small;
}

#nav { /*margin-top: 5px;*/
	position: relative;
}
#nav ul {
	list-style-type: none;
	list-style-image: none;
	/*margin-left: 200px;*/
	float: right;
}
#nav,#nav ul li a,#nav a#phpfmNavHome {
	font-family: 微软雅黑, "segoe ui", verdana, arial, sans-serif;
	color: black;
	text-decoration: none;
}
#nav ul li a {
	display: block;
	padding: 0 1em;
}
#nav ul,#nav ul li {
	
}
#nav ul li {
	float: left;
	font-size: 16px;
	text-align: center;
	display: block;
}
#nav ul,#nav ul .li-item {
	height: 25px;
	line-height: 25px;
}
#nav ul .li-item {
	border-right: 1px dotted #666666;
}
#nav ul .li-item a {
	-moz-transition-property: background-color,color;
	-moz-transition-duration: 0.4s;
	-webkit-transition-property: background-color,color;
	-webkit-transition-duration: 0.4s;
	-o-transition-property: background-color,color;
	-o-transition-duration: 0.4s;
	-ms-transition-property: background-color,color;
	-ms-transition-duration: 0.4s;
}
#nav ul .current {
	box-shadow: 0 0 5px #666666;
}
#nav ul .li-item a:hover,#nav ul .current a {
	background-color: #666666;
	color: white;
	/*background: url('../images/nav-hover-bg.jpg') left center repeat-x;*/
	
	-moz-transition-property: background-color,color;
	-moz-transition-duration: 0.4s;
	-webkit-transition-property: background-color,color;
	-webkit-transition-duration: 0.4s;
	-o-transition-property: background-color,color;
	-o-transition-duration: 0.4s;
	-ms-transition-property: background-color,color;
	-ms-transition-duration: 0.4s;
}
#nav ul .li-current a:hover {
	
}

/* Rosefinch 主页按钮 */
#nav a#phpfmNavHome {
	display: block;
	height: 35px;
	line-height: 35px;
	width: 200px;
	text-align: center;
	color: white;
	background: transparent url('../images/nav-home-bg-reverse.gif') left
		center repeat-x;
	position: absolute;
	top: -1px;
}

#nav a#phpfmNavHome :hover,#nav a#phpfmNavHome.current {
	background: transparent url('../images/nav-home-current-bg-reverse.gif')
		left center repeat-x;
}

#content {
	font-family: 宋体, "Times New Roman", serif;
	font-size: 14px;
	padding: 6px 10px;
	background-color: white;
	border-top: solid #666666 5px;
	box-shadow: 0 0 10px #cccccc;
}

/*
a:active, a:link, a:visited
{
	font-family: 宋体, Arial, Helvetica, sans-serif;
	color: Black;
}
a:hover
{
	font-family: 宋体, Arial, Helvetica, sans-serif;
	color: White;
}
*/
#footer {
	margin-bottom: 10px;
	background-color: White;
	font-family: Arial;
	font-size: x-small;
	color: #666666;
	padding: 0 10px 10px 10px;
}

#footer #copyright {
	text-align: right;
}

.select {
	font-size: large;
}