@CHARSET "UTF-8";

#phpfmDocNav, #phpfmDoc
{
	margin: 10px 0;
	font-size: small;
}
#phpfmDocNav, #phpfmDocNav a
{
	color: #666666;
}
#phpfmDocNav a:hover
{
	color: black;
}
#phpfmDoc
{
	line-height: 1.5em;
}
#phpfmDoc h4
{
}
#phpfmDoc p
{
	text-indent: 2em;
	
}
