@CHARSET "UTF-8";

/* Func Cut, Copy, Paste and Rename sector */
#funcBg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	background-color: Black;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE */
	filter: alpha(opacity =     50);
}

.inputRequire {
	color: Red;
	font-size: 12px;
	font-weight: bold;
}

div.divHeader {
	background-color: Black;
	color: White;
	height: 18px;
	line-height: 18px;
	padding: 6px 10px;
}

div.divHeader span {
	float: left;
	width: 150px;
}

div.divHeader a.funcClose {
	float: right;
	color: White;
}

div.hidden {
	display: none;
}

#funcDialog {
	display: none;
	background-color: white;
	z-index: 1005;
	position: fixed;
	top: 150px;
	width: 420px;
	border: 1px solid #cccccc;
	-moz-box-shadow: 0 4px 30px #000000;
	-webkit-box-shadow: 0 4px 30px #000000;
	box-shadow: 0 4px 30px #000000;
}

#funcDialog .container {
	padding: 6px 10px;
}

#funcDialog #divInput form div div {
	height: 2em;
	line-height: 2em;
}

#funcDialog #divDelete div, #funcDialog #divAudio div, #funcDialog #divAudio object, #funcDialog #divWaiting div{
	height: 2em;
	line-height: 2em;
}

#funcDialog label {
	width: 75px;
	text-align: right;
	float: left;
	margin-right: 0.5em;
}

#funcDialog input[type="text"], #funcDialog input[type="password"], #funcDialog select {
	margin: 3px 0;
}

/* Rename sector */
#divReqInput div#oldnameLine {
	display: none;
}

/* Delete sector */

/* Audio Player sector*/
#funcDialog #divAudio a {
	color: #0099FF;
	text-decoration: none;
}
#funcDialog #divAudio a:hover {
	text-decoration: underline;
}

/* Watingsector */
div.wating {
	margin: 10px 0;
}