@CHARSET "UTF-8";

/* Ajax Cut, Copy, Paste and Rename sector */
#ajaxBg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	background-color: Black;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE */
	filter: alpha(opacity =   50);
}

.inputRequire {
	color: Red;
	font-size: x-small;
	font-weight: bold;
}

div.ajaxHeader {
	background-color: Black;
	color: White;
	height: 18px;
	line-height: 18px;
	padding: 6px 10px;
}

div.ajaxHeader span {
	float: left;
	width: 150px;
}

div.ajaxHeader a.ajaxFuncClose {
	float: right;
	color: White;
}

#ajaxInput,#ajaxDelete,#ajaxWait,#ajaxAudioPlayer {
	display: none;
	background-color: white;
	z-index: 1005;
	position: absolute;
	top: 150px;
	width: 420px;
	border: 1px solid #cccccc;
	-moz-box-shadow: 0 4px 30px #000000;
	-webkit-box-shadow: 0 4px 30px #000000;
    box-shadow: 0 4px 30px #000000;

}

#ajaxDelete #deleteMsg p,#ajaxAudioPlayer .flashAudioPlayer p {
	height: 2em;
	line-height: 2em;
	margin: 0 5px;
}

/* Rename sector */
#ajaxInput form {
	padding: 6px 10px;
}

#ajaxInput form {
	
}

#ajaxInput form div.ajaxHidden {
	display: none;
}

#ajaxInput form div div {
	height: 2em;
	line-height: 2em;
}

#ajaxInput form div#oldnameLine {
	display: none;
}

/* Delete sector */
#ajaxDelete #deleteMsg {
	text-align: center;
}

/* Audio Player sector*/
#ajaxAudioPlayer .flashAudioPlayer {
	padding: 10px 0;
	text-align: center;
}

/* Watingsector */
div.wating {
	margin: 10px 80px;
}