@CHARSET "UTF-8";

#phpfmDocNav, #phpfmSettingForm, #permissionMessage, #phpfmUserMng {
	margin: 15px;
}

#phpfmDocNav {
	font-size: 14px;
	color: black;
}
#phpfmDocNav a {
	color: #666666;
}
#phpfmDocNav a.selected {
	color: black;
	text-decoration: none;
}
#phpfmDocNav a:hover {
	color: black;
}

form#installPrefer {
	float: right;
}

fieldset {
	margin: 5px 0;
	padding: 2px 8px;
}

fieldset * {
	margin: 5px 0;
	line-height: 1.5em;
	height: 1.5em;
	vertical-align: middle;
}

fieldset * * {
	margin: 0;
}

form select {
	width: 10em;
}

form div.info {
	display: inline;
	font-family: Arial;
	font-size: x-small;
	color: #666666;
	overflow: hidden;
}

input[type="button"], input[type="submit"] {
	padding: 0 6px;
}

#phpfmUserMng #divUserMng {
	height: auto;
}

#phpfmUserMng table th {
	font-weight: normal;
	text-align: left;
}
#phpfmUserMng table th.id {
	width: 30px;
}
#phpfmUserMng table th.username {
	width: 150px;
}
#phpfmUserMng table th.permission {
	width: 120px;
}
#phpfmUserMng table th.operation {
	width: 100px;
}
#phpfmUserMng table td {
	border-bottom: #ccc solid 1px;
}
