/* Common */
:root {
  --phpfm-tint: #da020e;
  --ani-duration: 0.5s;
}

body {
  /*font-family: sans-serif;*/
  font-size: 1.2rem;
}

a {
  /*color: black;*/
  /*text-decoration: none;*/
  /*transition: color 0.2s;*/
}
img {
  /*border: 0;*/
}
.noOutline:hover, .noOutline:active, .noOutline:focus {
  outline: 0;
}
/* Common */

/* PHPFM */
#divWrapper {
  width: 100%;
  position: relative;
}

#navToolbarWrapper {
  /*border-bottom: 1px solid var(--primary);*/
}
#navToolbarWrapper .navbar-brand, #navToolbarWrapper .navbar-brand a {
  color: var(--phpfm-tint);
}
#navToolbarWrapper .navbar-brand a:hover {
  text-decoration: none;
}
#navToolbarWrapper .toolbarBtn {
  padding-bottom: 0.6rem;
  font-size: 1.2rem;
}
#navToolbarWrapper .toolbarBtn:hover {
  color: var(--primary);
}
@media (hover: none) {
  /* Touch screen hover and focus fix */
  #navToolbarWrapper .toolbarBtn:hover {
    color: #212529;
    background-color: inherit;
    border-color: var(--light);
  }
  #navToolbarWrapper .toolbarBtn:focus, #navToolbarWrapper .toolbarBtn.focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }
}
#navToolbarWrapper .toolbarBtnLoading .spinner-border {
  color: var(--phpfm-tint);
  width: 1.2rem;
  height: 1.2rem;
  border-width: 0.1em;
}
#navToolbarWrapper .toolbarBtnLoading.disabled,#navToolbarWrapper .toolbarBtnLoading:disabled {
  opacity: 1;
}

#navPathWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
#navPathWrapper .breadcrumb {
  padding-left: 1.6rem;
  margin-bottom: 0;
  /*border-bottom: 1px solid var(--light);*/
  /*border-radius: 0;*/
}
#navPathWrapper .breadcrumb .breadcrumb-item a {
  color: var(--secondary);
}
#navPathWrapper .breadcrumb .breadcrumb-item a:hover {
  text-decoration: none;
}
#navPathWrapper .breadcrumb .breadcrumb-item.active a {
  color: var(--primary);
}
#navPathWrapper #divPathBtnWrapper {
  padding: 0.6rem 1rem;
}
#navPathWrapper #divPathBtnWrapper .dropdown-toggle .bi, #navPathWrapper #divPathBtnWrapper .dropdown-item .bi {
  font-size: 1.2rem;
  line-height: 1;
  padding-right: 0.2rem;
}
#navPathWrapper #divPathBtnWrapper .dropdown-item {
  padding: 0.6rem 1.5rem 0.6rem 1rem;
}

#divListWrapper {
  overflow: auto;
}

#ulDetailView .list-group-item {
  cursor: default;
  padding: 0 1.25rem 0 1.5rem;
  margin-bottom: 0.18rem;
  transition-property: background, color, border;
  transition-duration: var(--ani-duration);
}
#ulDetailView .list-group-item:last-child {
  border-bottom-width: 1px;
}
#ulDetailView .list-group-item.hover, #ulDetailView .list-group-item.selected {
  border-color: rgba(0, 0, 0, 0.4);
  transition-property: background, color, border;
  transition-duration: var(--ani-duration);
}
#ulDetailView .list-group-item .detailLineRight {
  margin-left: 0.5rem;
}
#ulDetailView .list-group-item .fileCheck {
  width: 1.6rem;
}
#ulDetailView .list-group-item .fileCheck input {
  margin-left: 1px;
  width: 1.2rem;
  height: 1.2rem;
}
#ulDetailView .list-group-item .fileLink {
  height: 4rem;
  color: inherit;
  min-width: 0; /* for fileName text-overflow */
}
#ulDetailView .list-group-item .fileLink:hover {
  text-decoration: none;
}
#ulDetailView .list-group-item .fileIcon {
  color: var(--secondary);
  font-size: 2.25rem;
  padding-top: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.8rem;
}
#ulDetailView .list-group-item .fileIcon::before {
  line-height: 3rem;
}
#ulDetailView .list-group-item .fileType {
  width: 6rem;
}
#ulDetailView .list-group-item .fileSize {
  width: 9rem;
  text-align: right;
  padding-right: 2rem;
}
#ulDetailView .list-group-item .fileTime {
  width: 11rem;
}

.modal .modal-footer .dialogTips {
  color: var(--secondary);
}
.modal .modal-footer .btn .loadingText {
  margin-left: 0.4rem;
}
#divModalUpload .form-group {
  margin-bottom: 0;
}
#divModalUpload #labelUploadFileInfo {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  height: 100px;
  line-height: 80px;
}
#divModalUpload.dropFile .modal-content {
  border-color: var(--danger);
}
#divModalUpload.dropFile #labelUploadFileInfo {
  color: var(--danger);
}

#divToastWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1.5rem;
}

#divToastWrapper .toast {
  background-color: white;
}
#divToastWrapper .toast .toast-header .toastIcon {
  line-height: 1;
  padding-right: 0.4rem;
}
#divToastWrapper .toast.info .toast-header .toastIcon, #divToastWrapper .toast.info .toast-header .toastTitle {
  color: var(--info);
}
#divToastWrapper .toast.success .toast-header .toastIcon, #divToastWrapper .toast.success .toast-header .toastTitle {
  color: var(--success);
}
#divToastWrapper .toast.danger .toast-header .toastIcon, #divToastWrapper .toast.danger .toast-header .toastTitle {
  color: var(--danger);
}
#divToastWrapper .toast .toast-body {
  min-width: 18rem;
}

/* Large screen */
@media (min-width: 769px) {
  #navToolbarWrapper #buttonBack {
    display: none;
  }
  #navToolbarWrapper #buttonAbout {
    display: inline-block !important;
  }
  #navToolbarWrapper #buttonLoadingRight {
    display: none !important;
  }
}
/* Large screen */

/* Small screen */
@media (max-width: 768px) {
  #navToolbarWrapper #buttonRefresh .bi {
    display: inline !important;
  }
  #navToolbarWrapper #buttonRefresh .spinner-border {
    display: none !important;
  }
  #navToolbarWrapper #buttonCut,
  #navToolbarWrapper #buttonCopy,
  #navToolbarWrapper #buttonPaste,
  #navToolbarWrapper #spanBrand,
  #navToolbarWrapper #buttonDebug,
  #navToolbarWrapper #buttonSetting {
    display: none;
  }

  #navPathWrapper #divPathBtnWrapper {
    display: none;
  }

  #ulDetailView .list-group-item {
    padding-left: 1rem;
  }
  #ulDetailView .list-group-item.detailLineFolder .detailLineRight {
    display: none !important;
  }
  #ulDetailView .list-group-item .fileSize {
    width: 7rem;
    padding-right: 0rem;
  }
  #ulDetailView .list-group-item .fileType, #ulDetailView .list-group-item .fileTime {
    display: none;
  }

}
/* Small screen */

/* Even small screen */
@media (max-width: 430px) {
  #navToolbarWrapper #buttonBack, #navToolbarWrapper #buttonRefresh {
    display: none;
  }
}
/* Even small screen */

/* Dark */
@media (prefers-color-scheme: dark) {
  /*body {*/
  /*    background-color: #0c0c0c;*/
  /*    color: #cccccc;*/
  /*}*/
  /*a {*/
  /*    color: #cccccc;*/
  /*}*/
}
/* Dark */
/* PHPFM */
