.buildpath
.project
.settings/
admin/settings.inc.php
images/Thumbs.db
images/png/
images/psd/
log/phpfm.log

vendor/**/.git
vendor/firebase/php-jwt/tests/
vendor/firebase/php-jwt/.github/

**/php_errors.log

publish
